<template name="ConstitutionLayout">
    <h2 class="ui center aligned header top">
        Joint Council Co-sponsorship Committee of CCSC, ESC, GSSC, and SGA
    </h2>
    <div class="ui container">
        <div class="ui top attached tabular menu">
            <a class="active item" id="constitution-tab">Constitution</a>
            <a class="item" id="constitution-tab">Guidelines*</a>
        </div>
        <div class="ui bottom attached segment" id="content">
            {{#if constitutionViewing}}
            <h3 class="ui dividing header">
                Article 1: Mission Statement
            </h3>
            <h4 class="ui header">
                Section 1.
            </h4>
            <p>
                The mission of the JCCC is to provide funding for a student group under
                extenuating financial circumstances, including travel costs, or for a
                student group that wishes to start new programming but doesn’t have
                extra funds to do so. The JCCC exists to provide emergency funding for
                student groups on campus.
            </p>
            <h3 class="ui dividing header">
                Article 2: Membership and Duties
            </h3>
            <h4 class="ui header">
                Section 1.  Makeup
            </h4>
            <p>
                The VP of Finance (VPF) of each council (CCSC, ESC, GSSC, SGA) will sit
                on the JCCC, with additional delegation for each council to be decided
                upon by each VPF.
            </p>
            <h4 class="ui header">
                Section 2.  Chairing
            </h4>
            <p>
                The VPFs will rotate chair duty every two-three months. The schedule
                for 2017-2018 is:
            </p>
            <ul class="ui list">
                <li>September/October: CCSC</li>
                <li>November/December and January: ESC</li>
                <li>February/March: GSSC</li>
                <li> April/May: SGA</li>
            </ul>
            <p>
                The Chair is in charge of setting the weekly meeting agenda and
                facilitating the meetings. The VPFs will set a fair division of
                administrative and custodial duties at the JCCC Constitutional
                Review.
            </p>
            <h4 class="ui header">
                Section 3.  Voting
            </h4>
            <p>
                Each council has one vote. Intra-council voting will be decided
                upon by each council’s delegation. No council can be forced to
                contribute funds if it votes against a recommendation.Three
                councils can veto the decision to fund a group following the
                parameters established in the spending guidelines.
                <br><br>
                If the general councils cannot agree, then discussion may continue
                over email for the sake of expediency.
            </p>
            <h4 class="ui header">
                Section 4.  Conflicts of Interest
            </h4>
            <p>
                If a delegate is a member of a student group asking for funds from
                the JCCC, that delegate must excuse themselves from the
                deliberations and voting.
            </p>
            <h3 class="ui dividing header">
                Article 3: Meetings
            </h3>
            <h4 class="ui header">
                Section 1.  Presentations
            </h4>
            <p>
                Upon receiving applications, the VPFs will schedule groups to
                come in to present their applications to the committee and answer
                questions. Members of the general Columbia community may also
                attend these presentations.
            </p>
            <h4 class="ui header">
                Section 2.  Voting
            </h4>
            <p>
                Voting may be done after each presentation or at the end of the
                meeting in a closed session consisting only of elected and extended
                council members. The content of the deliberation will only be
                discussed within the JCCC committee, and with the applicants
                reviewed. Two of the four VPFs must be in agreement to begin a
                vote on any one presentation.

            </p>
            <h3 class="ui dividing header">
                Article 4: Applying
            </h3>
            <h4 class="ui header">
                Section 1.  Application
            </h4>
            <p>
                Each group must submit an online application. This application will
                be the basis of the group’s presentation to the JCCC.
            </p>
            <h4 class="ui header">
                Section 2.  Eligibility
            </h4>
            <p>
                Groups that are recognized by at least one of the five governing
                boards are eligible to apply to the JCCC. Groups that are not r
                ecognized by a governing board but are affiliated with Columbia
                University (i.e. under Office of Multicultural Affairs (OMA),
                Residential Life, etc.) may also apply. Unrecognized groups may
                apply to the JCCC through an eligible group under a governing
                board. JCCC will only fund groups for undergraduate student
                expenses. All other groups or individuals are ineligible for
                funding.
                <br><br>
                JCCC will abide by all Columbia University spending policies and
                restrictions.
            </p>
            <h3 class="ui dividing header">
                Article 5: Funding Process
            </h3>
            <h4 class="ui header">
                Section 1.  Ratio
            </h4>
            <p>
                Councils who vote in favor of funding a group shall split the funds
                by ratio of student attendance. If such attendance is unknown or
                irrelevant, councils who vote in favor shall split funds by ratio
                of each school’s student body. Exclusions to this may be decided
                upon at the discretion of the VPFs.
            </p>
            <h4 class="ui header">
                Section 2.  Payment Transfers
            </h4>
            <p>
                At a discretionary basis - but no less than once per semester -
                each VPF will transfer the aggregate funds they owe to a JCCC
                account. The VPFs will then allocate the funds from the JCCC
                account into group accounts that have been awarded funding.
                <br><br>
                No student group may receive JCCC funding that exceeds their JCCC
                allocation or final total costs (whichever is less). Student groups
                must give all relevant receipts to the VPFs before receiving funds
                or at the discretion of the VPFs.
                <br><br>
                JCCC reserves the right to report any incidents of financial
                dishonesty.
            </p>
            <h3 class="ui dividing header">
                Article 6: Amendments to the Constitution
            </h3>
            <h4 class="ui header">
                Section 1.  Constitutional Review
            </h4>
            <p>
                Once every one (1) year the JCCC Constitution will be reviewed in a
                closed session consisting only of elected and extended council
                members.  All four undergraduate VPFs must be present to attain
                quorum.
            </p>
            <h4 class="ui header">
                Section 2.  Amendment process during Constitutional Review
            </h4>
            <p>
                An amendment may be proposed by any member of the elected and
                extended council members. A draft of the proposed amendment(s)
                shall be provided. A ¾ vote of the VPFs shall be required to accept
                the amendment(s).
            </p>
            <h4 class="ui header">
                Section 3. Amendment process between Constitutional Review
            </h4>
            <p>
                An amendment may be proposed by any member of the elected and
                extended council members. The chair shall document the proposed
                amendment(s) for the next Constitutional Review, to be included in
                all four VPFs’ transition documents. All documented proposed
                amendments shall be considered by the elected and extended council
                members during the next Constitutional Review.
            </p>
            {{else}}
            <h3 class="ui dividing header">
                1. Travel Expenses
            </h3>
            <ol class="ui list">
                <li>
                    Allocation can be used for, at most, 50% of cost-effective
                    transportation and lodging expenses.
                </li>
                <li>
                    Allocation cannot be used for food for traveling groups
                    while off-campus.
                </li>
                <li>
                    Allocation cannot be used for international travel excepting
                    Canada and Mexico which will be deliberated on a case by case
                    basis.
                </li>
                <li>
                    Allocation cannot be used for transportation within New York
                    City.
                </li>
                <li>
                    Travel between airports and hotels will be subject to
                    scrutiny and evaluated on a case by case basis.
                </li>
            </ol>
            <h3 class="ui dividing header">
                2. Attending Events
            </h3>
            <ol class="ui list">
                <li>
                    Allocation can (within reason) be used for registration
                    fees.
                </li>
            </ol>
            <h3 class="ui dividing header">
                3. Organizing New Events
            </h3>
            <ol class="ui list">
                <li>
                    Food and drink
                    <ol>
                        <li>
                            $2.50 per attendee for a study break or snack event.
                        </li>
                        <li>
                            $5.00 per attendee for sit-down dinners or other event
                            wherein food is a primary focus of the event.
                        </li>
                        <li>
                            $7.50 per attendee for formal banquet-style meals,
                            usually only once a semester.
                        </li>
                    </ol>
                </li>
                <li>
                    No JCCC funds may be used for charitable donations. If a
                    group wishes to make a charitable donation with their
                    event’s funding, they must first reimburse <br>all funds
                    received from the JCCC.
                </li>
                <li>
                    Publicity
                    <ol>
                        <li>
                             Allocation cannot be spent on publicity for events
                             with attendance of 30 or fewer.
                        </li>
                        <li>
                            No more than $30.00 may be spent on publicity for
                            events with between 31 and 100 projected attendees.
                        </li>
                    </ol>
                </li>
                <li>
                    Prohibited items
                    <ol>
                        <li>
                            T-shirts or apparel items for groups.
                        </li>
                        <li>
                            Events which fall outside the academic term.
                        </li>
                        <li>
                            Awards for contests or tournaments, gifts or direct
                            donations to charity (though allocation may be spent
                            toward the execution of the event).
                        </li>
                        <li>
                            Online advertising (such as Facebook ads) or
                            advertisements which do not reach Columbia
                            undergraduates student body.
                        </li>
                        <li>
                            Web space.
                        </li>
                        <li>
                            Banners.
                        </li>
                        <li>
                            Photographers, video or camera operators.
                        </li>
                        <li>
                            Alcohol and tobacco products.
                        </li>
                        <li>
                            Payments to other groups (such as for performance fees,
                            membership fees or consulting fees).
                        </li>
                        <li>
                            Business cards.
                        </li>
                    </ol>
                </li>
                <li>
                    Spending Vetoes
                    <ol>
                        <li>
                            Three of the four VPFs can vote to veto allocations
                            above $250 per person.
                        </li>
                    </ol>
                </li>
            </ol>
            <p>
                *All guidelines and procedures are subject to the discretion of the four VPFs.
            </p>
            {{/if}}
        </div>
    </div>
</template>
