<template name="JCCCResultsLayout">
    <h2 class="ui center aligned header top">
        2017-2018 JCCC Results
    </h2>
    <div class="ui container">
        <table class="ui celled striped table">
            <thead>
                <tr class="center aligned">
                    <th>Date Submitted</th>
                    <th>Student Group</th>
                    <th>Allocation</th>
                    <th>Amt. Requested</th>
                    <th>Event Name</th>
                    <th>Request Type</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {{#if notEmpty}}
                    {{#each submission in submissions}}
                        {{> Template.dynamic template="JCCCSubmission" data=submission}}
                    {{/each}}
                {{else}}
                <tr class="six wide center aligned">
                    <th>
                        <br>
                        There are no submitted applications yet.
                        <br><br>
                    </th>
                </tr>
                {{/if}}
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</template>
