<template name="PGSettings">
    <div class="ui header">Update Settings</div>
    <div class="ui raised segment">
        <h4 class="ui dividing header">Current Teams</h4>
        <table class="ui celled striped table">
            <thead>
                <tr class="center aligned">
                    <th>Team Name</th>
                    <th>Primary Email</th>
                    <th>Allocation</th>
                    <th>Verified</th>
                </tr>
            </thead>
            <tbody>
                {{#if displayUsers}}
                    {{#each team in teams}}
                        <tr>
                            <td>{{team.username}}</td>
                            <td>{{team.primaryEmail}}</td>
                            <td>${{team.allocation}}</td>
                            <td>{{team.hasBudget}}</td>
                        </tr>
                    {{/each}}
                {{else}}
                    <tr>
                        <td>
                            <br>
                                There are currently no teams :(
                            <br>
                            <br>
                        </td>
                    </tr>
                {{/if}}
            </tbody>
            <tfoot class="full-width">
                {{#if addingUser}}
                    <th colspan="4">
                        <form class="ui form" id="add-user-form">
                            <div class="inline fields">
                                <div class="field">
                                    <label>Team Name</label>
                                    <input type="text" name="teamName">
                                </div>
                                <div class="field">
                                    <label>Primary Email</label>
                                    <input type="text" name="teamEmail">
                                </div>
                                <div class="field">
                                    <label>Team Allocation</label>
                                    <div class="ui labeled input">
                                        <div class="ui label">$</div>
                                        <input type="text" name="teamAllocation">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" id="complete-add" class="fluid ui submit button">+ Add User</button>
                        </form>
                    </th>
                {{else}}
                    <th colspan="4">
                        <button class="fluid ui button" id="add-user"> + Add User</button>
                    </th>
                {{/if}}
            </tfoot>
        </table>
    </div>
    <div class="ui hidden divider"></div>
    <button class="negative ui right floated small button" id="drop-users">Delete Teams</button>
</template>
