<template name="FundingLayout">
    <h2 class="ui center aligned header top">
        Funding Resources
    </h2>
    <div class="ui container">
        <h4 class="ui dividing header">JCCC</h4>
        <p>
            The Joint Council Co-sponsorship Committee, or JCCC for short, is a
            committee co-sponsored by the student councils of the four
            undergraduate schools at Columbia University: SEAS, CC, GS, and
            Barnard. The mission of the JCCC is three-pronged: (1) to provide the
            financial sponsorship for student groups that wish to begin new
            programming and events but don’t have the funds to do so; (2) emergency
            funding for student groups under extenuating financial circumstances;
            and (3) for student groups to help offset travel expenses.
        </p>
        <p>
            The JCCC meets every Sunday from 4-6 PM and consists of the VP Finances of each
            of the student councils represented and their respective finance
            committees.
        </p>
        <h4 class="ui dividing header">SEAS Dean's Travel Fund</h4>
        <p>
            A fund open to SEAS undergraduate students that engage in competitions,
            conferences, or service. The fund is developed by the Dean of the
            Fu Foundation School of Engineering and Applied Science, with
            administrative support from Student Engagement.
        </p>
        <p>
            Student Group Funding-In partnership with ESC, the SEAS Dean Travel
            Fund provides specific funding to Engineers Without Borders, National
            Society of Black Engineers, Society of Women Engineers and Society
            of Hispanic Professionals and Engineers for
            competition/conference/networking events and service trips. Members
            of these student groups can apply for additional funding through
            track 1 and track 2, however, priority is given to members of
            engineering groups that do not have funding secured.
        </p>
        <p>
            <strong>Track 1: Competition/Conference Networking Event </strong>
            This track is for SEAS students involved in recognized undergraduate
             engineering groups who participate in competitions, conferences and
             networking events. These funds are awarded to students in good
             academic and judiciary standing. Students must also be deemed in
             good standing with an engineering group (usually by the
             organization president or adviser).  The award can total up to 50%
             of the registration fee, travel and lodging costs. Students must
             apply one month before the competition, conference or networking
             event and can only be awarded funding once during the academic year.
        </p>
        <p>
             <strong>Track 2: Service Trip </strong> This track is for SEAS
             students who are participants in University-affiliated programs or
             are members of University-recognized student groups engaged in
             service work which may require a student to travel domestically or
             abroad. These funds are awarded to students in good academic and
             judiciary standing as well as those who have demonstrated financial
             need – verified by the Office of Financial Aid. The award can total
             up to 50% of the travel and lodging costs. Students must apply one
             month before the service trip and can only be awarded funding once
             during the academic year.
        </p>
        <h4 class="ui dividing header">CIF</h4>
        <p>
            The Capital Investment Fund was created to address the need of
            student groups who have difficulties securing funding for
            large-scale overhauls of equipment or supplies.
            <br>
            <br>
            Such groups only need an injection of supplemental funds every
            3-5 years for revamping now-outdated equipment or technology in
            order to remain modern, effective and/or safe. Examples might
            include Columbia TV’s need to purchase new cameras or Columbia
            Kayaking’s need to replace their boats for safety reasons. These
            groups have struggled to finance necessary purchases because of
            high overhead and historically-based allocations.
            <br>
            <br>
            The Capital Investment Fund is capped at $20,000, and awards are
            granted in the Fall Term and in the Spring Term. Student groups who
            apply during the Fall Term will be expected to make purchases
            during the Spring Term, and student groups who apply in the Spring
            Term will be expected to make purchases during the following Fall
            Term. A joint committee of the four student council Vice Presidents
            of Finance, governing board representatives, and relevant
            administrators will oversee applications and determine how to
            allocate funds. The funds will come from the budgets of the
            Columbia College Student Council (CCSC), the Engineering Student
            Council (ESC), General Studies Student Council (GSSC), and Student
            Government Association of Barnard (SGA).
            <br>
            <br>
            Eligible groups are asked to consider their needs carefully to
            determine whether they are a good fit for the Capital Investment
            fund. Due to the specialized nature of the fund, a Capital
            Investment Fund award is only granted to a student group once every
            three years. The group must prove that the grant will be used to
            benefit the undergraduate community, such as by elevating the level
            of event programming, providing academic resources, improving
            community, promoting wellness or more.
        </p>
        <h4 class="ui dividing header">ESC Cosponsorships</h4>
        <p>
            ESC cosponsorships are perhaps the most general funding resource
            available to students/student groups, but tend to be more restricted
            in terms of their budget. These cosponsorship requests can be placed
            with the following members of the council:
            <ul>
                <li>ESC 2020 Class Council</li>
                <li>ESC 2019 Class Council</li>
                <li>ESC 2018 Class Council</li>
                <li>ESC Finance Committee</li>
                <li>ESC Technology Representative</li>
                <li>ESC Sustainability Representative</li>
                <li>ESC Diversity & Inclusion Representative</li>
            </ul>
            All requests are considered and handled on a case-by-case basis directly
            with the requested members.
        </p>
        <br>
        <br>
    </div>
</template>
