<template name="GeneralInfoLayout">
    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui text container">
            <h1 class="ui inverted header main">E$C Finance</h1>
        </div>
    </div>
    <div class="ui container primary">
        <h2 class="ui center aligned header">A hub for funding resources at Columbia.</h2>
        <br>
        <h2 class="ui left aligned dividing header">Current Members</h2>
        <div class="ui three cards">
            <div class="ui card">
                <div class="content">
                    <div class="header">Austen Paris</div>
                    <div class="meta">VP Finance</div>
                </div>
            </div>
            <div class="ui card">
                <div class="content">
                    <div class="header">Saarthak Sarup</div>
                    <div class="meta">2018 Class Council</div>
                </div>
            </div>
            <div class="ui card">
                <div class="content">
                    <div class="header">Montana St. Pierre</div>
                    <div class="meta">2019 Class Council</div>
                </div>
            </div>
        </div>
        <div class="ui three cards">
            <div class="ui card">
                <div class="content">
                    <div class="header">Ria Garg</div>
                    <div class="meta">2020 Class Council</div>
                </div>
            </div>
            <div class="ui card">
                <div class="content">
                    <div class="header">Jaidev Shah</div>
                    <div class="meta">2021 Class Council</div>
                </div>
            </div>
            <div class="ui card">
                <div class="content">
                    <div class="header">Jacob Nye</div>
                    <div class="meta">Student Groups Rep</div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</template>
