<template name="JCCCLayout">
    <h2 class="ui center aligned header top">
        JCCC About
    </h2>
    <div class="ui container">
        <p>
            The Joint Council Co-sponsorship Committee, or JCCC for short, is a
            committee co-sponsored by the student councils of the four
            undergraduate schools at Columbia University: SEAS, CC, GS, and
            Barnard. The mission of the JCCC is three-pronged: (1) to provide the
            financial sponsorship for student groups that wish to begin new
            programming and events but don’t have the funds to do so; (2) emergency
            funding for student groups under extenuating financial circumstances;
            and (3) for student groups to help offset travel expenses. The JCCC
            meets every Sunday from 4-6 PM and consists of the VP Finances of each
            of the student councils represented and their respective finance
            committees.
        </p>
        <div class="ui divider"></div>
        <div class="ui hidden divider"></div>
        <br>
        <div class="ui two cards">
            <div class="ui card">
                <div class="content">
                    <div class="header">Austen Paris</div>
                    <div class="meta">VP Finance on ESC</div>
                    <div class="description">
                        afp2124@columbia.edu
                    </div>
                </div>
            </div>
            <div class="ui card">
                <div class="content">
                    <div class="header">Adam Resheff</div>
                    <div class="meta">VP Finance on CCSC</div>
                    <div class="description">
                        ar3296@columbia.edu
                    </div>
                </div>
            </div>
        </div>
        <div class="ui two cards">
            <div class="ui card">
                <div class="content">
                    <div class="header">Evelyn McCorkle</div>
                    <div class="meta">VP Finance on SGA</div>
                    <div class="description">
                        epm2139@barnard.edu
                    </div>
                </div>
            </div>
            <div class="ui card">
                <div class="content">
                    <div class="header">Tanveer Bhuiyan</div>
                    <div class="meta">VP Finance on GSSC</div>
                    <div class="description">
                        thb2117@columbia.edu
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
