<template name="JCCCSettings">
    <div class="ui fullscreen modal">
        <div class="header">{{modalHeader}}</div>
        <div class="content">
            <p>
                {{modalMessage}}
            </p>
        </div>
    </div>
    <div class="ui header">Update Settings</div>
    <form class="ui form raised segment" id="update-poc">
        <h4 class="ui dividing header">Change JCCC Point of Contact</h4>
        <div class="two fields">
            <div class="field">
                <label>New Email</label>
                <input type="text" name="pocEmail" placeholder="{{currentPoc}}">
            </div>
            <div class="field">
                <label>Email Subject Tag</label>
                <input type="text" name="emailTag" placeholder="{{currentTag}}">
            </div>
        </div>
        <button type="submit" id="update-poc" class="ui submit button">Update Contact</button>
    </form>
    <div class="ui hidden divider"></div>
    <div class="ui raised segment">
        <h4 class="ui dividing header">JCCC Form Status: {{formStatusFormat}}</h4>
        <div class="ui toggle checkbox">
            {{#if formStatus}}
                <input type="checkbox" name="formStatus" checked="checked">
            {{else}}
                <input type="checkbox" name="formStatus">
            {{/if}}
            <label>Active</label>
        </div>
    </div>
    <div class="ui hidden divider"></div>
    <form class="ui form raised segment" id="init-form">
        <h4 class="ui dividing header">Deposit Funds</h4>
        <div class="field">
            <label>CC Contribution</label>
            <div class="ui labeled input">
                <div class="ui label">$</div>
                <input type="text" name="ccAllocation" placeholder="{{currentCC}}">
            </div>
        </div>
        <div class="field">
            <label>SEAS Contribution</label>
            <div class="ui labeled input">
                <div class="ui label">$</div>
                <input type="text" name="seasAllocation" placeholder="{{currentSEAS}}">
            </div>
        </div>
        <div class="field">
            <label>GS Contribution</label>
            <div class="ui labeled input">
                <div class="ui label">$</div>
                <input type="text" name="gsAllocation" placeholder="{{currentGS}}">
            </div>
        </div>
        <div class="field">
            <label>BC Contribution</label>
            <div class="ui labeled input">
                <div class="ui label">$</div>
                <input type="text" name="bcAllocation" placeholder="{{currentBC}}">
            </div>
        </div>
        <button type="submit" id="init-finances" class="ui submit button">Update Finances</button>
    </form>
    <form class="ui form raised segment" id="update-password">
        <h4 class="ui dividing header">Change Admin Password</h4>
        <div class="two fields">
            <div class="field">
                <label>Old Password</label>
                <input type="text" name="oldPassword">
            </div>
            <div class="field">
                <label>New Password</label>
                <input type="text" name="newPassword">
            </div>
        </div>
        <button type="submit" id="update-password" class="ui submit button">Update Contact</button>
    </form>
</template>
