<template name="JCCCDecisionForm">
    <h4 class="ui attached message">
        <div class="header">
            Update {{name}} request for {{eventName}}
        </div>
        <p>Requesting ${{requestedAmount}} for {{requestType}}</p>
    </h4>
    <form class="ui form attached fluid segment">
        <div class="field">
            <label>How would you like to respond?</label>
            <div class="ui fluid selection dropdown" id="select-action">
                <input type="hidden" name="responseAction">
                <div class="default text">Select one</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item" data-value="Pending">Request more information</div>
                    <div class="item" data-value="Accept">Accept</div>
                    <div class="item" data-value="Conditionally Accept">Accept conditionally</div>
                    <div class="item" data-value="Reject">Reject</div>
                    <div class="item" data-value="Cancelled">Cancelled by student group</div>
                </div>
            </div>
        </div>
        {{#if isAccepting}}
            <div class="field">
                <label>(Maximum) Approved Funding</label>
                <div class="ui labeled input">
                    <div class="ui label">$</div>
                    <input type="text" name="acceptedAmount" placeholder="{{requestedAmount}}">
                </div>
            </div>
            {{#if notConditional}}
            <div class="four fields">
                <div class="field">
                    <label>CC Funding</label>
                    <div class="ui labeled input">
                        <div class="ui label">$</div>
                        <input type="text" name="ccFunding" placeholder="{{requestedAmount}}">
                    </div>
                </div>
                <div class="field">
                    <label>SEAS Funding</label>
                    <div class="ui labeled input">
                        <div class="ui label">$</div>
                        <input type="text" name="seasFunding" placeholder="{{requestedAmount}}">
                    </div>
                </div>
                <div class="field">
                    <label>GS Funding</label>
                    <div class="ui labeled input">
                        <div class="ui label">$</div>
                        <input type="text" name="gsFunding" placeholder="{{requestedAmount}}">
                    </div>
                </div>
                <div class="field">
                    <label>BC Funding</label>
                    <div class="ui labeled input">
                        <div class="ui label">$</div>
                        <input type="text" name="bcFunding" placeholder="{{requestedAmount}}">
                    </div>
                </div>
            </div>
            {{/if}}
        {{/if}}
        <div class="field">
            <label>Briefly describe your decision</label>
            <textarea name="decisionDetails"></textarea>
        </div>
        <div class="field">
            <label>Enter the body of your decision email</label>
            <textarea name="emailBody"></textarea>
        </div>
        <div class="ui hidden divide"></div>
        <button type="submit" id="update-request" class="ui submit button">Submit Update</button>
    </form>
</template>
