<template name="PGAdminLayout">
    <div class="ui container headless">
        <div class="ui grid">
            <div class="three wide column">
                <div class="ui vertical fluid tabular menu">
                    <a data-template="PGOrder" class="item active" id="admin-tab">Order Parts</a>
                    <a data-template="PGReview" class="item" id="admin-tab">Review Budgets</a>
                    <a data-template="PGSettings" class="item" id="admin-tab">Settings</a>
                </div>
            </div>
            <div class="thirteen wide stretched column">
                <div class="ui segment">
                    {{> Template.dynamic template=tab}}
                </div>
            </div>
        </div>
    </div>
</template>
