<template name="PGLayout">
    <h2 class="ui center aligned header top">
        ESC Project Grants About
    </h2>
    <br>
    <div class="ui container">
        <p>
            The Engineering Student Council Finance Committee is proud to continue
            its project grants initiative: grants aimed at promoting engineering
            spirit through engineering projects. Our committee would like to
            award student teams with projects up to $100 or $1000 in order to
            pursue an engineering endeavor of their choice. We wish to showcase
            these projects upon completion to highlight the fruits of engineering
            at Columbia University. In presenting these grants, we hope to
            achieve three goals:
            <ul>
                <li>
                    Promote Columbia Engineering within the broader Columbia
                    community by highlighting the creative and practical talents
                    already existing within our student body.
                </li>
                <li>
                    Encourage teamwork between students through the collaborative
                    process of building small or large scale projects.
                </li>
                <li>
                    Allow students to apply their engineering background through
                    an organic, free, and creative endeavor.
                </li>
            </ul>
            Apply now!
        </p>
        <div class="ui divider"></div>
        <h3 class="ui center aligned header">
            <a href="/project-grant/small">Small Scale Application</a>
        </h3>
        <h3 class="ui center aligned header">
            <a href="/project-grant/large">Large Scale Application</a>
        </h3>
    </div>
</template>
