<template name="PGLargeRules">
    <h3 class="ui dividing header">Application Rules and Requirements</h3>
    <p>
        Please read the following guidelines carefully as they dictate how teams and projects should be structured to receive funding. Then continue on to the application.
    </p>
    <h4 class="ui dividing header">Team Guidelines</h4>
    <div class="ui ordered list">
        <div class="item">
            Teams should be composed of at least two students.
        </div>
        <div class="item">
            Teams must be composed of at least 50% SEAS students as the funding comes from SEAS student life fees.
        </div>
        <div class="item">
            We expect that all team members contribute equally to the final project.
        </div>
        <div class="item">
            Each team must have one team lead. The team lead is the primary liaison between ESC Finance and their team and is responsible for sharing any communications they receive from ESC Finance.
        </div>
    </div>
    <h4 class="ui dividing header">Project Guidelines</h4>
    <div class="ui ordered list">
        <div class="item">
            Comprehensive project details (i.e. materials, costs, blueprints, and timelines) must be submitted with this application, and must be presented at an agreed upon ESC Finance Committee meeting.
        </div>
        <div class="item">
            Project must be accomplishable within three months of grant approval. There will be a mandatory project showcase at Engineering Week towards the beginning of the spring semester.
        </div>
        <div class="item">
            Final projects may be kept by participants, but all are required to be present for showcasing, subject to ESC discretion.
        </div>
        <div class="item">
            The building process must not cause harm to humans, animals, or Columbia property.
        </div>
        <div class="item">
            ESC will not approve dangerous projects, and does not assume any responsibility for dangers inherent in a project.
        </div>
        <div class="item">
            Grants may not be used to build a project that will be submitted for a grade or that are part of other University or corporate initiatives.
        </div>
        <div class="item">
            Teams may retain their project's intellectual property provided that it does not use significant Columbia resources. For more information, refer to this <a href="http://techventures.columbia.edu/files/tech/content/Columbia%20Technology%20Ventures%20-%20FAQ%20for%20students.pdf">Columbia document.</a>
        </div>
        <div class="item">
            Purchases should be made from Amazon whenever possible.
        </div>
    </div>
    <h4 class="ui dividing header">Grant Guidelines</h4>
    <div class="ui ordered list">
        <div class="item">
            Projects may be approved for up to $1000, and ESC will make purchases on behalf of the project team after all necessary budget materials have been received. Participants cannot be reimbursed for previous or current personal purchases for the project.
        </div>
        <div class="item">
            The grant only provides funding. ESC can help with but cannot guarantee finding appropriate lab space or equipment.
        </div>
    </div>

    <h4 class="ui dividing header">Application Process</h4>
    <p>
        This application consists of the following parts:
    </p>
    <div class="ui bulleted list">
        <div class="item">Team membership information</div>
        <div class="item">Project proposal information</div>
        <div class="item">Advisor information (optional, but recommended)</div>
    </div>
    <p>
        In addition, we will be sending you two documents--a budget spreadsheet and a powerpoint presentation--which must be completed as part of the application. There will be sample budgets included for reference or help.
    </p>
    <h4 class="ui dividing header">Tentative Project Timeline</h4>
    <div class="ui ordered list">
        <div class="item">
            September 12: Application release
        </div>
        <div class="item">
            September 25: Application deadline
        </div>
        <div class="item">
            October 2nd: Project applications presented to Finance committee
        </div>
        <div class="item">
            October 9th: Grant awardees announced
        </div>
        <div class="item">
            April 15th: Presentation for Engineering Week Showcase (highly recommended for projects completed by that time)
        </div>
        <div class="item">
            May: SEAS the Day Showcase (required for all projects)
        </div>
    </div>
    <h4 class="ui dividing header">Terms and Conditions</h4>
    <div class="ui ordered list">
        <div class="item">
            ESC, including its officers, members, and agents, disclaims any and all liability and responsibility to Recipient and Others ("Third Parties") for property damage, personal injury, and consequential damages, whether or not foreseeable, that may arise out of, result from, or relate to activities undertaken by Recipient or Third Parties based on the grant.
        </div>
        <div class="item">
            Recipient assumes all liability and responsibility for damages/injury that may be incurred by Recipient or Third Parties.
        </div>
        <div class="item">
            Recipient's acceptance of this grant constitutes its agreement to these terms.
        </div>
    </div>
    <h4 class="ui dividing header">Statement of Acceptance</h4>
    <div class="required field">
        <div class="ui checkbox">
            <input type="checkbox" name="acceptTerms">
            <label>I have read, understand, and accept the above
                statement. I will look for an email regarding next
                steps for my ESC Small Scale Project Grant application.</label>
        </div>
    </div>
</template>
