<template name="PGTeamSettings">
    <div class="ui fullscreen modal">
        <div class="header">{{modalHeader}}</div>
        <div class="content">
            <p>
                {{modalMessage}}
            </p>
        </div>
    </div>
    <div class="ui header">Update Team Settings</div>
    <form class="ui form raised segment" id="update-password">
        <h4 class="ui dividing header">Change Team Password</h4>
        <div class="two fields">
            <div class="field">
                <label>Old Password</label>
                <input type="text" name="oldPassword">
            </div>
            <div class="field">
                <label>New Password</label>
                <input type="text" name="newPassword">
            </div>
        </div>
        <button type="submit" id="update-password" class="ui submit button">Update</button>
    </form>
    <form class="ui form raised segment" id="update-address">
        <h4 class="ui dividing header">Change Team Shipping Address</h4>
        <div class="two fields">
            <div class="field">
                <label>First Name</label>
                <input type="text" name="firstName" placeholder="{{firstName}}">
            </div>
            <div class="field">
                <label>Last Name</label>
                <input type="text" name="lastName" placeholder="{{lastName}}">
            </div>
        </div>
        <div class="field">
            <label>Street Address</label>
            <input type="text" name="streetAddress" placeholder="{{streetAddress}}">
        </div>
        <div class="field">
            <label>Mailbox Address</label>
            <input type="text" name="mailAddress" placeholder="{{mailAddress}}">
        </div>
        <div class="three fields">
            <div class="field">
                <label>City</label>
                <input type="text" name="city" placeholder="{{city}}">
            </div>
            <div class="field">
                <label>State</label>
                <input type="text" name="state" placeholder="{{state}}">
            </div>
            <div class="field">
                <label>Zipcode</label>
                <input type="text" name="zipcode" placeholder="{{zipcode}}">
            </div>
        </div>
        <button type="submit" id="update-address" class="ui submit button">Update</button>
    </form>
</template>
